<div class="container">
  <div>Username </div>
  <input type="text" [(ngModel)]="username" class="search ">
<p>{{ username }}</p>

<button (click)="onCreateServer()" class="search add_server">Add server</button>
<p *ngIf="serverCreated ; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer> <p> No server was created ! </p> </ng-template>

<button id="clear" (click)="Clear()">Clear messages</button>
</div>

<button (click)="showSecret = !showSecret">Display Details</button>
<p *ngIf="showSecret">Secret password = tuna</p>